{% extends "base.html" %}

{% block title %}
    Hi
{% endblock %}



{% block content %}

<div class="container overflow-hidden">
  <div class="row gy-5">
    <div class="col-4">
      <div class=" border bg-light justify-content-center">
        <div class="container">
          <div>Custom name</div>
          <div><img src="{{ url_for('static', filename='intern_example.png') }}" class="rounded mx-auto d-block "></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">
        <div class="container">
          <div>Custom name</div>
          <div>Photo</div>
      </div>
      </div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">Custom column</div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">Custom column</div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">Custom column</div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">Custom column</div>
    </div>
        <div class="col-4">
      <div class="p-3 border bg-light">Custom column</div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">Custom column</div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">Custom column</div>
    </div>
  </div>
</div>

{% endblock %}
